<% provide :title, t("pages.title.home") %>
<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1><%= t "pages.mailer.welcome" %></h1>
      <p><%= t "pages.to_register" %></p>
      <p>
        <%= link_to t("pages.register"), new_user_registration_path,
          class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
<% end %>
