# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a5f0ef236d89ad1dab63e425f96127f31ef539636a0e1486593653d72a9f468d3a2e1ac8ae2b182f330c0c5cc22ec220758554a35808cc3039b2e5f2c236b5e7

test:
  secret_key_base: 2ab9674ca3d20e6d32ce55ab4996db1f6f97d57d48c8d29760e6df364c83a77b0c2a10163142a938e73ca93053f400f10bff7913d182aca0b95992f684e381d9

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
