@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$dark-gray: #a9a9a9;
$gray-medium: #ddd;
$gray-light: #f2f2f2;
$blue-medium: #4682b4;
$orange: #f0ad4e;
$dark-orange: #eea236;
$black-medium: #1a1a1a;
$white: #fff;

aside {

  section {
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    h2 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.center {
  margin: auto;
  width: 60%;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.link-shared {
  padding-left: 10px;
  padding-top: 10px;
}

label {
  padding-top: 10px;
}

.gravatar-edit {
  margin-bottom: 10px;
  margin-top: 15px;
  padding-bottom: 60px;
}

.gravatar {
  float: left;
  margin-right: 5px;
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.books {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.book-search {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.book-pictrue {
  float: left;
  height: 60px;
  margin-right: 5px;
  width: 60px;
}

.picture-search {
  float: left;
  height: 100px;
  margin-right: 5px;
  width: 100px;
}

.book-content {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  border-bottom: 1px solid $dark-gray;
  color: $black-medium;
  margin-bottom: 10px;
  margin-top: 45px;
  padding-top: 5px;
}

.book-container {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

.book-info-right {
  margin-top: 110px;
}

.text-center {
  text-align: center;
}

.books-header {
  margin-right: 30px;
}

.reviews-text {
  font-size: 18px;
}

.top-border {
  border-top: 1px solid $dark-gray;
}

.table-center {
  margin: auto;
  width: 100%;
}

table,
th,
td {
  border: 1px solid $gray-medium;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: $gray-light;
}

th {
  background-color: $blue-medium;
  color: $white;
}

.mark-center {
  margin: auto;
  width: 23%;
}

.float-left {
  float: left;
}

.clicked {
  background-color: $orange;
  border-color: $dark-orange;
  color: $white;
}

.color-black {
  border-color: $black-medium;
  color: $black-medium;
}

.reading-histories {
  padding-left: 10px;
}

.text-right {
  text-align: right;
}

.search-area {
  margin-left: 30px;
  margin-top: 10px;
}

.favorite-books {
  margin-top: 40px;
}

.author {
  margin-left: 79px;
}

.info {
  background-color: $white;
  border-style: ridge;
  color: $black-medium;
  margin-left: 75px;
  margin-top: 75px;
  padding: 5px 0;
  position: absolute;
  visibility: hidden;
  width: 170px;
}

.book-search:hover .info {
  visibility: visible;
}

.book-price {
  margin-top: 25px;
  padding-right: 0;
}

.new-review {
  margin-bottom: 50px;
}

.form-review {
  padding-bottom: 15px;
}

.review {
  border-bottom: 1px solid $gray-medium;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.text-review {
  border-bottom: 1px solid $dark-gray;
  margin-bottom: 20px;
}

.time-review {
  color: $dark-gray;
  margin-left: 10px;
  width: 200px;
}

.float-right {
  float: right;
}

.button-content {
  float: left;
  width: 150px;
}

.review-title {
  color: $dark-gray;
}

.book-author {
  border-bottom: 1px solid $dark-gray;
  font-size: 17px;
}

.book-rate {
  margin-top: 35px;
}

.description {
  background-color: $white;
  border-style: ridge;
  color: $black-medium;
  margin-left: 300px;
  margin-top: -250px;
  padding: 5px;
  position: absolute;
  visibility: hidden;
  width: 490px;
  z-index: 1;
}

.hover-descript:hover .description {
  visibility: visible;
}

.hover-descript {
  padding: 0;
}

.for-descript {
  float: right;
  margin-bottom: 20px;
  margin-right: 450px;
  padding: 0;
  width: 320px;
}

.modal-content {
  margin-left: -150px;
  width: 950px;
}

.reviewer {
  font-size: 18px;
}

.review-info {
  margin-left: 90px;
}

.review-edit {
  float: right;
  list-style-type: none;
  margin-right: 15px;
}

.review-image {
  margin-top: 30px;
  width: 225px;
}

.summary {
  margin-bottom: 30px;
  width: 730px;
}

.text-descrip {
  float: right;
  text-align: center;
  width: 150px;
}

.review-picture {
  width: 300px;
}

.width-medium {
  width: 320px;
}

.book-title {
  margin-top: 0;
  text-align: left;
  width: 470px;
}

.review-content {
  margin-top: 20px;
}

.add-bill {
  width: 150px;
}

.morecontent {

  span {
    display: none;
  }
}

.morelink {
  display: block;
}
